exportPattern("^[[:alpha:]]+")
useDynLib(MRStdCRT, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
export(drs_p_est)
export(drm_p_est)
export(summary.dr_surv)
S3method(summary, dr_surv)
export(summary.MRS_obj)
S3method(summary, MRS_obj)
